

odysseus.{$DAGGLER_DOMAIN} {
    tls internal
    reverse_proxy 192.168.4.35:7000
}

grafana.{$DAGGLER_DOMAIN} {
    tls internal
    reverse_proxy grafana:3000
}

prometheus.{$DAGGLER_DOMAIN} {
    tls internal
    reverse_proxy prometheus:9090
}

portainer.{$DAGGLER_DOMAIN} {
    tls internal

    reverse_proxy https://portainer:9443{
        transport http {
            tls_insecure_skip_verify
        }
    }
}

pihole.{$DAGGLER_DOMAIN} {
    tls internal
    reverse_proxy pihole:80
}

wazuh.{$DAGGLER_DOMAIN} {
    tls internal
    reverse_proxy https://wazuh:443
}