TZ=America/Denver

DAGGLER_LAN_IP=192.168.0.2
DAGGLER_DOMAIN=daggler.home.arpa

PLEX_MOVIES_PATH=/srv/media/movies
PLEX_TV_PATH=/srv/media/tv
PLEX_MUSIC_PATH=/srv/media/music
PLEX_PHOTOS_PATH=/srv/media/photos

PLEX_CLAIM=