TZ=America/Denver

DAGGLER_LAN_IP=192.168.0.2
DAGGLER_DOMAIN=daggler.home.arpa

PLEX_MOVIES_PATH=/srv/media/movies
PLEX_TV_PATH=/srv/media/tv
PLEX_MUSIC_PATH=/srv/media/music
PLEX_PHOTOS_PATH=/srv/media/photos

PLEX_CLAIM=

PROMETHEUS_HOST=192.168.0.2
PROMETHEUS_PORT=9090
PROMETHEUS_NODE_TARGETS=192.168.0.2:9100,192.168.0.3:9100,192.168.0.4:9100

GRAFANA_HOST=192.168.0.2
GRAFANA_PORT=3000


OPENCLAW_HOST=192.168.0.2
OPENCLAW_PORT=18789