{
    auto_https off
}

http://odysseus.{$DAGGLER_DOMAIN} {
    reverse_proxy 192.168.4.35:7000
}

http://grafana.{$DAGGLER_DOMAIN} {
    reverse_proxy grafana:3000
}

http://prometheus.{$DAGGLER_DOMAIN} {
    reverse_proxy prometheus:9090
}

http://pihole.{$DAGGLER_DOMAIN} {
    reverse_proxy pihole:80
}

http://portainer.{$DAGGLER_DOMAIN} {
    reverse_proxy portainer:9000
}